{% include data.html %}
{% assign urlparts = page.url|split:"/" %}
{% assign name = urlparts[1] %}
<!DOCTYPE html>
<html>
{% include head.html title=page.name %}
<body class="{% if site.animated %}animated fade-in-down{% endif %}">
  <div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        <div class="post">
          <header class="post-header">
            <h1 class="h2">
              {{page.name}}
            </h1>
          </header>
          <article class="post-content">
            <table>
              <tr><th>Site</th><td>{{page.site}}</td></tr>
              <tr><th>Owner Address</th><td>{{page.owner}}</td></tr>
            </table>
          {{ content }}
          </article>
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>
</html>
